* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    font-size: 45px;
    font-family: sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.textfield {
    resize: none;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #45a049;
}